@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --dark: #0a1b39;
  --darker: #020105;
  --light: #eeaeca;
  --pink: #ec4899;
  --gray: #6b7280;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "lexend deca", sans-serif;
}
body {
  color: var(--darker);
  background: linear-gradient(53deg, #ccfffc, #ffcccf);

}


.dark-mode {
  background: var(--dark);
  color: var(--gray);

}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  font-family: "Lexend Deca", sans-serif;
}


 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.dark-mode li{
  background-image: linear-gradient(to right, var(--darker), var(--dark));
  color: var(--gray);
  border: 1px solid var(--gray);
}



.dark-mode button{
  background-image: linear-gradient(to right, var(--darker), var(--dark));

  color: var(--gray);
}

/* task container */
li{
  padding: 20px 5px;
  background-image: linear-gradient(to right, var(--gray), var(--light));
  border-radius: 10px;
  margin: 5px 0 ;
  transition: all 2.5s ease;
}

h2{
  font-size: 1rem;
  color: var(--gray);

}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--gray);
}
input::placeholder{
  color: var(--gray);
  font-weight: 500;
  font-size: 1.2rem;
}

/* footer link */
 a{
  font-size: 1rem;
  font-weight: 300;
  color: var(--darker);
}

footer{
  margin-top: 300px;
  padding: 0;
  color: var(--dark);
  text-align: center;
  font-size: 1rem;
}
.dark-mode input, .dark-mode footer{
  color: var(--gray);
}
header {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
}
div .task-list{
  width: 40vw;
}

#new-task-form {
  display: flex;
  padding: 5px;


}

#new-task-input{
  margin-right: 5px;
  border-radius: 10px;
  padding: 10px;

}
.task{
  width: fit-content;

}


.check {
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  -webkit-appearance: none;
}

.check:checked {
  background-color: rgb(255, 82, 82);
  ;
}


.task:focus {
  outline: none;
}
li i{
  float: right;
margin-right: 5px;
}


  li i:hover {
  color: rgb(255, 82, 82);
}

.completed {
  color: white;
  text-decoration: line-through;
}

input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  border-radius: 10px;


}
button {
  appearance: none;
  outline: none;
  background-image: linear-gradient(to right, var(--gray), var(--light));
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  color: var(--darker);
}


/* For the toggle button */
.switch-holder{
position: relative;
right: 0;

}
@media screen and (max-width:480px){
  .switch-holder{
   position: relative;

  }
  h1,h2 {
    font-size: 1.5rem;
  }
  div .task-list{
width: 80vw;
  }
  li{
    min-width: 80vw;
  }

}


.switch-label {
  width: 150px;
}

.switch-label i {
  margin-right: 5px;
}

.switch-toggle {
  height: 40px;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.6),
    inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.switch-toggle input[type="checkbox"] + label::before {
  position: absolute;
  content: "Light";
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #d1dad3;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
  left: 50%;
  content: "Dark";
  color: #fff;
  background-color: #00b33c;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px #00b33c;
}
