@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --dark: #0a1b39;
  --darker: #020105;
  --light: #eeaeca;
  --pink: #ec4899;
  --gray: #6b7280;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "lexend deca", sans-serif;
}

body {
  color: var(--darker);
  background: linear-gradient(53deg, #ccfffc, #ffcccf);
}

.dark-mode {
  background: var(--dark);
  color: var(--dark);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--gray);
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
}

#new-task-form {
  display: flex;
}

input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

button {
  appearance: none;
  outline: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1rem;
}

#new-task-input::placeholder {
  color: var(--light);
}

#new-task-submit {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 700;
  /* background-color: var(--dark);
  border-radius: 1.5rem;
  padding: 1rem; */
  /* background-image: linear-gradient(to right, var(--light), var(--pink));
  background-clip: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  cursor: pointer;
  transition: 0.4s;
}

#new-task-submit:hover {
  opacity: 0.8;
}

#new-task-submit:active {
  opacity: 0.6;
}

#new-task-save {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 700;
  /* background-color: var(--dark);
  border-radius: 1.5rem;
  padding: 1rem; */
  /* background-image: linear-gradient(to right, var(--light), var(--pink));
  background-clip: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  cursor: pointer;
  transition: 0.4s;
}

#new-task-save:hover {
  opacity: 0.8;
}

#new-task-save:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.task-list {
  padding: 2rem;
}
.task-list h2 {
  font-size: 1.5rem;
  color: var(--gray);
  margin-bottom: 1rem;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: var(--darker);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

#tasks .task .content .text {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
  color: var(--pink);
}

.task .content {
  flex: 1 1 0%;
}

#tasks .task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.5s;
  border: none;
  appearance: none;
}

.task .actions button:hover {
  opacity: 0.8;
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .edit {
  background-image: linear-gradient(to right, var(--light), var(--pink));
  background-clip: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task .actions .delete {
  color: crimson;
}

.task .actions .save {
  color: burlywood;
}

/* For the toggle button */

.switch-holder {
  background:rgba(255, 255, 255, 0.5);
  border-radius: 25%;
  padding: 1em 1em;
  width: 160px;
}

.switch-label {
  width: 150px;
  padding: 1em 1em;
}

.switch-label i {
  margin-right: 5px;
}

.switch-toggle {
  height: 40px;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.6),
    inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.switch-toggle input[type="checkbox"] + label::before {
  position: absolute;
  content: "OFF";
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #d1dad3;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
  left: 50%;
  content: "ON";
  color: #fff;
  background-color: #00b33c;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px #00b33c;
}

.date {
  font-size: 50px;
  color: #fff;
}

.dishes {
  background-color:rgba(255, 255, 255, 0.5);
  color: burlywood;
  border-radius: 25%;
  padding: 1em 1em;
  width: 300px;
  height: 60px;
  cursor: pointer;
  left: 20%;
}

.previous {
  background-color:rgba(255, 255, 255, 0.5);
  color: burlywood;
  border-radius: 25%;
  padding: 1em 1em;
  position: absolute;
  max-width: auto;
  max-height: auto;
}

.hider {
  background-color:rgba(255, 255, 255, 0.5);
  color: burlywood;
  border-radius: 25%;
  padding: 1em 1em;
  position: absolute;
  max-width: auto;
  max-height: auto;
}